#text{
    font-size: 80px;
}
.content
{
    display: flex;
    justify-content: center;
    padding: 20px;
    border: solid black;
    border-radius: 10px;
    
}
.container{
    text-align: center;
    
}
#textbox{
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 50px;
}
#submit{
    font-size: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(66, 191, 215);
    color: white;
    border: solid rgb(10, 76, 90);;
}
#submit:hover
{
    background-color: rgb(10, 76, 90);
    transition: 0.5s;
}
label{
    font-size: 30px;
    margin: 20px;
}
#ans{
    font-size: 30px;
}